<div class="jumbotron text-center">
    <h1>Mean ToDo App</h1>
    <p class="lead"> Welcome to Mean to do app</p>
        <div>
            <a class="btn btn-primary" [routerLink] = "['/register']">Register</a>
            <a class="btn btn-default" [routerLink] ="['/login']">Login</a>
        </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Express Backend API</h3>
        <p>NodeJS and Express module is used for bacend development</p>
    </div>
    <div class="col-md-4">
        <h3>Used Angular-cli</h3>
        <p>Angular-cli is used for component generation. ng -g component componsentname</p>
    </div>
    <div class="col-md-4">
        <h3>Passport-jwt tokens</h3>
        <p>Full featured authentication using JSON web tokens. Login and Store User Data</p>
    </div>
</div>